<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    logo: "<%= image_path('logo.png') %>"
  }
</script>

<main id="root"></main>

<script type="text/javascript">
$(document).ready(function() {
  $(".no-event-bubble-up").each(function () {
    $(this).click(function(e) {
      e.stopPropagation();
    });
  });
});
</script>
