@import "font-awesome-sprockets";
@import "font-awesome";

header {
  padding-top: 12px;
  padding-bottom: 12px;
  height: 40px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
}

.search-bar {
  width: 70%;
  display: flex;
  align-items: center;
  padding-left: 16px;
  color: #757575;
  font-size: 16px;
  font-weight: 600;
  background-color: #efefef;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
}

a.icon-temp {
  color: #b5b5b5;
  width: 50px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  font-size: 12px;
  // position: relative;
  // top: 4px;
}

a.logo {
  padding-right: 8px;
}

i.fa-circle {
  margin-left: -2px;
  font-size: 12px;
  margin-top: 22px;
  color: #bd081c;
}

i.fa-cloud {
  color: #bd081c;
}

button.icon-temp {
  border: 0px;
  border-radius: 4px;
  margin-left: 30px;
  margin-right: 30px;
  color: #555555;
  cursor: pointer;
}

div.signup-footer {
  text-align: center;
  font-size: 11px;
  color: #fff;
  font-weight: normal;
  position: absolute;
  bottom: 2%;
  width: 100%;
}

a.signup-footer {
  color: #fff;
  padding: 0px 8px;
}
