@import "font-awesome-sprockets";
@import "font-awesome";

header {
  padding-top: 12px;
  padding-bottom: 12px;
  height: 40px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
}

.search-bar {
  width: 70%;
  display: flex;
  align-items: center;
  padding-left: 16px;
  // color: #757575;
  color: #efefef;
  font-size: 16px;
  font-weight: 600;
  background-color: #efefef;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
}

a.icon-temp {
  color: #b5b5b5;
  width: 50px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  font-size: 12px;
  // position: relative;
  // top: 4px;
}

a.logo {
  padding-right: 8px;
}

i.fa-circle {
  margin-left: -2px;
  font-size: 12px;
  margin-top: 22px;
  color: #bd081c;
}

i.fa-cloud {
  color: #bd081c;
}

button.icon-temp {
  border: 0px;
  border-radius: 4px;
  margin-left: 30px;
  margin-right: 30px;
  color: #555555;
  cursor: pointer;
}

div.signup-footer {
  text-align: center;
  font-size: 11px;
  color: #fff;
  font-weight: normal;
  position: absolute;
  bottom: 2%;
  width: 100%;
}

a.signup-footer {
  color: #fff;
  padding: 0px 8px;
}

// footer buttons

div.footer {
  z-index: 1000;
  bottom: 14px;
  position: fixed;
  right: 14px;
  display: flex;
}

div.footer-buttons {
  height: 89px;
  width: 56.5px;
  padding-left: 12.5px;
}

button.footer {
  background: #fff;
  color: #555;
  font-size: 18px;
  width: 40px;
  height: 39px;
  padding-top: 4px;
  padding-left: 7px;
  margin-bottom: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0.5px rgba(0, 0, 0, 0.04);
}

button.footer:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

ul.links-dropdown {
  background: #fff;
  width: 118px;
  padding-top: 7px;
  padding-left: 30px;
  border-radius: 6px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

ul.hidden {
  visibility: hidden;
}

li.links-dropdown {
  margin: 6px 0;
}

a.links-dropdown {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #717171;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}

a.links-dropdown:hover {
  color: #333;
}
