@import "font-awesome-sprockets";
@import "font-awesome";

div.pins-grid {
  background-color: white;
  height: 100%;
  padding: 24px 18px 0;
  margin: 0 auto;
}

div.pins-hover {
  width: 236px;
  position: relative;
  margin-bottom: 20px;
}

div.pins-hover:hover {
  cursor: zoom-in;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 10px;
  margin: -10px;
  height: 100%;
}

div.pins {
}

img.pins {
  width: 236px;
  border-radius: 8px;
}

img.pins:hover {
}

div.pins-image {
  position: relative;
}

div.pins-hover:hover div.dim-gradient {
  background-color: rgba(0, 0, 0, 0.15);
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  bottom: 3px;
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  margin: 0 auto;
  width: 236px;
  border-radius: 0 0 8px 8px;
}

div.dim-gradient:hover {
  margin-top: 10px;
}

div.pins-add {
  margin-bottom: 10px;
  width: 236px;
  height: 236px;
  border-radius: 8px;
  background-color: #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.pins-add-hover {
  width: 236px;
  position: relative;
  margin-bottom: 20px;
}

div.pins-add-hover:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 10px;
  margin: -10px;
  padding-bottom: 0px;
  height: 100%;
}

a.pin-url, div.pin-save-modal {
  display: none;
}

div.pins-hover:hover a.pin-url {
  cursor: pointer;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 7px;
  color: #efefef;
  size: 11px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  width: 224px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.pins-hover:hover div.pin-save-modal {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 4px;
  padding: 9px 12px;
  background-color: #bd081c;
  color: #efefef;
  font-size: 14px;
}

i.fa-thumb-tack {
  margin-top: 0.5px;
  padding-right: 6px;
}

div.pin-save {
  font-size: 14px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

div.pins-hover:hover div.pin-save-modal:hover {
  background-color: #b7071b;
}

div.pin-info {
  margin-top: 6px;
  padding: 0 8px;
}

div.pin-title {
  font-weight: bold;
  color: #444;
  font-size: 14.5px;
  letter-spacing: -0.15px;
  line-height: 16px;
  word-spacing: 0;
}

div.pin-title, div.pin-desc {
  margin-bottom: 6px;
  width: 145px;
}

div.pin-desc {
  -webkit-font-smoothing: antialiased;
  color: #333;
}

div.pin-link-to-board {
  display: flex;
  width: 220px;
  height: 28px;
  margin-top: 6px;
  padding: 5px 8px;
  border-radius: 0 0 6px 6px;
  font-size: 11px;
  letter-spacing: -0.05px;
  line-height: 12px;
  word-spacing: 0;
  color: #555;
}

div.pin-link-to-board:hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  opacity: 1.0;
  cursor: pointer;
}

img.pin-creator-pic {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-top: 2.5px;
  border-radius: 50%;
}

div.pin-creator-info {
  margin-top: 1px;
}

span.pin-creator {
  margin-bottom: 2px;
  font-weight: bold;
  display: block;
}

span.pin-board {
  display: block;
}

div.pin-unshow {
  position: absolute;
  // margin-top: -30px;
  padding-top: 30px;
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-size: 100% 100%;
  z-index: 10;
}

div.pin-unshow:hover {
  cursor: zoom-out;
}

div.pin-show-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
}

div.pin-show-options {
  // margin: 30px auto 0;
  display: inline-flex;
  justify-content: space-between;
  width: 564px;
  height: 40px;
  padding: 8px 32px;
  border-radius: 8px 8px 0 0;
  background-color: white;
  z-index: 1000;
}

div.pin-show-options:hover {
  cursor: auto;
}

div.pin-edit {
  margin-top: 1px;
  border-radius: 50%;
  padding: 10px;
  width: 20px;
  height: 20px;
}

div.pin-edit:hover {
  background: #f0f0f0;
  cursor: pointer;
}

i.fa-pencil {
  position: relative;
  top: -2px;
  left: 1px;
  color: #b5b5b5;
}

div.pin-show {
  // margin: 0 auto;
  width: 564px;
  padding: 0 32px;
  background-color: white;
  border-radius: 0 0 8px 8px;
  z-index: 1000;
}

div.pin-show:hover {
  cursor: auto;
}

img.pin-show-image {
  width: 564px;
  height: 100%;
  z-index: 1000;
}

// Pin Save Form

div.pin-save-form-container {
  -webkit-font-smoothing: antialiased;
  display: flex;
  margin: 24px 0;
}

div.pin-save-left {
  margin: 16px 0;
  width: 50%;
}

div.pin-save-right {
  width: 50%;
  border-left: 1px solid #f5f5f5;
}

img.pin-save-form-image {
  width: 216px;
  margin: 0 auto;
  border: 0;
  border-radius: 8px;
  display: block;
  height: auto;
  position: relative;
  vertical-align: middle;
}

div.pin-save-desc {
  margin: 6px auto;
  display: table;
}

textarea.pin-save-form-desc {
  width: 165px;
  height: 55px;
  resize: none;
  border: none;
  color: #333;
  font-size: 14px;
  letter-spacing: -.35px;
  word-wrap: break-word;
  overflow: hidden;
}

textarea.pin-save-form-desc:hover {
  background-color: #e3e9ed;
}

textarea.pin-save-form-desc:focus {
  outline: none;
  width: 200px;
}

label.pin-save-form-edit-desc {
  cursor: pointer;
}

textarea.pin-save-form-desc:focus + i.pin-save-form-edit-desc {
  color: #ffffff;
  font-size: 0;
}

div.pin-save-form-header {
  display: flex;
}

div.pin-save-form-title {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  padding-left: 24px;
  padding-bottom: 12px;
}

div.pin-save-exit {
  cursor: pointer;
  position: absolute;
  right: 28px;
  top: 32px;
}

div.pin-save-board {
  color: #555;
  display: inline-block;
  width: 55%;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -.25px;
  line-height: 34px;
  margin: 7px 0;
}

div.pin-save-final {
  display: none;
}

li.pin-save-board:hover div.pin-save-final {
  display: inline-flex;
  cursor: pointer;
  border-radius: 4px;
  padding: 9px 12px;
  background-color: #bd081c;
  color: #efefef;
  font-size: 14px;
}

li.pin-save-board:hover div.pin-save-final:hover {
  background-color: #b7071b;
}

div.pin-show-save-modal {
  display: flex;
  height: 16px;
  margin-top: 4px;
  cursor: pointer;
  border-radius: 4px;
  padding: 9px 12px;
  background-color: #bd081c;
  color: #efefef;
  font-size: 14px;
}

div.pin-show-save-modal:hover {
  background-color: #b7071b;
}

div.pin-show-save-modal:focus {
  outline: none;
}

div.pin-show-title {
  margin: 0 auto;
  width: 548px;
  color: #555;
  font-size: 21px;
  letter-spacing: -.3px;
  line-height: 23px;
  word-spacing: -1.3px;
  font-weight: 700;
}

img.pin-show-image {
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 10px;
}

div.pin-show-url {
  width: 548px;
  margin: 0 auto;
  word-wrap: break-word;
}

a.pin-show-url {
  color: #555;
  font-size: 12px;
  letter-spacing: -.1px;
  color: #555;
  font-weight: 700;
}

div.pin-show-line {
  width: 564px;
  margin: 30px auto 10px;
  border-top: 1px solid #efefef;
}

img.pin-show-creator-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

div.pin-show-creator-info {
  display: flex;
  padding-bottom: 8px;
}

div.pin-show-creator-links {
  margin-top: 4px;
  margin-left: 6px;
}


a.pin-show-creator, a.pin-show-board {
  color: #444;
  font-weight: bold;
  font-size: 15px;
}

span.pin-show-pinning, div.pin-show-description {
  font-size: 15px;
  color: #211922;
}

div.pin-edit-form-container {
  -webkit-font-smoothing: antialiased;
}

div.pin-edit-header {
  margin-top: 1px;
  display: flex;
}

div.pin-edit-header {
  color: #555;
  font-size: 21px;
  letter-spacing: -.3px;
  line-height: 23px;
  word-spacing: -1.3px;
  font-weight: 700;
}

div.pin-edit-exit {
  cursor: pointer;
  position: absolute;
  right: 16px;
}

i.fa-times {
  color: #b5b5b5;
  font-size: 26px;
}

div.pin-edit-header-line {
  border-bottom: 1px solid #efefef;
}

div.pin-edit-board-mid {
  display: flex;
  margin-top: 8px;
}

label.pin-edit-label {
  display: block;
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  cursor: pointer;
  color: #211922;
  // color: #efefef;
}

div.pin-edit-board {
  display: inline-flex;
  width: 97%;
  padding: 15px 0 12px 0;
  border-bottom: 1px solid #efefef;
}

select.pin-edit-selector {
  margin-left: 10px;
  border: 1px solid #efefef;
  width: 195px;
  padding: 5px;
  word-spacing: 0;
  letter-spacing: -.1px;
  line-height: 14px;
  font-size: 12px;
  color: #555;
  font-weight: 700;
  background: #efefef;
  width: 240px;
}

select.pin-edit-selector:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #efefef;
}

div.pin-edit-description {
  display: inline-flex;
  width: 97%;
  padding: 12px 0 12px 0;
}

textarea.pin-edit-description {
  margin-left: 10px;
  background: #efefef;
  border: 1px solid #efefef;
  color: #555;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  letter-spacing: -.5px;
  line-height: 16px;
  word-spacing: 0;
  font-weight: 700;
  max-width: 215px;
  min-width: 215px;
  min-height: 45px;
}

textarea.pin-edit-description:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #b5b5b5;
  outline: 0;
  background-color: #ffffff;
  color: #555;
}

div.pin-edit-form-image {
  margin: auto;
  width: 103.5px;
  padding: 12px 16px;
}

img.pin-edit-form-image {
  width: 103.5px;
  border-radius: 8px;
}

div.pin-edit-buttons {
  border-top: 1px solid #efefef;
  margin: 0px 0 6px;
  padding: 20px 0 4px;
  display: flex;
  justify-content: space-between;
}

button.pin {
  letter-spacing: -.5px;
  line-height: 18px;
  font-size: 16px;
  color: #555;
  font-weight: 700;
  cursor: pointer;
  background: #efefef;
  padding: 10px 14px;
  border-radius: 4px;
}

button.pin:hover {
  background: #e2e2e2;
}

input.pin-edit-save {
  margin-left: 16px;
  letter-spacing: -.5px;
  line-height: 18px;
  font-size: 16px;
  color: #fff;
  background-color: #bd081c;
  font-weight: 700;
  padding: 10px 14px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

input.pin-edit-save:hover {
  background-color: #ad081b;
}

input.pin-edit-save:focus {
  outline: none;
}

div.pin-create-form-container {
  display: flex;
}

form.pin-create-form {
  padding-top: 24px;
}

div.pin-create-left {
  width: 50%;
}

div.pin-create-error {
  display: flex;
}

#titleError, #imageError, #urlError {
  font-size: 10px;
  color: #ad081b;
  height: 24px;
  width: auto;
  max-width: 52px;
  padding-left: 6px;
}

input.pin-create-input {
  background: #efefef;
  border: 1px solid #efefef;
  color: #555;
  border-radius: 4px;
  padding: 8px 12px;
  margin-bottom: 8px;
  font-size: 14px;
  letter-spacing: -.15px;
  line-height: 16px;
  word-spacing: 0;
  font-weight: 700;
  width: 70%;
}

div.pin-create-images {
  height: 300px;
  background: #efefef;
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 8px 12px;
  margin-bottom: 8px;
}

i.fa-file-image-o {
  font-size: 24px;
  color: #7c7c7c;
}

div.images-container {
  height: 300px;
  overflow-y: scroll;
}

img.scraped-image {
  cursor: pointer;
  width: 238px;
  margin-bottom: 6px;
  border-radius: 8px;
  border: 2px solid #efefef;
}

img.pin-image-selected {
  width: 238px;
  margin-bottom: 6px;
  border-radius: 8px;
  border: 2px solid #bd081c;
}

img.pin-image-unselected {
  width: 238px;
  margin-bottom: 6px;
  border-radius: 8px;
  border: 2px solid #efefef;
}

input.pin-create-input:focus, textarea.pin-create-text:focus {
  box-shadow: 0 0 0 1.5px #fff, 0 0 0 3px #b5b5b5;
  outline: 0;
  background-color: #ffffff;
  color: #555;
}

textarea.pin-create-text {
  background: #efefef;
  border: 1px solid #efefef;
  color: #555;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  letter-spacing: -.5px;
  line-height: 16px;
  word-spacing: 0;
  font-weight: 700;
  max-width: 215px;
  min-width: 215px;
  min-height: 45px;
}

div.pin-create-right {
  width: 50%;
}

div.pin-create-choose-board {
  padding: 24px 0 12px 24px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}
