@import "font-awesome-sprockets";
@import "font-awesome";

div.pins-grid {
  background-color: white;
  height: 100%;
  padding: 24px 18px 0;
  margin: 0 auto;
}

div.pins-hover {
  width: 236px;
  position: relative;
  margin-bottom: 20px;
}

div.pins-hover:hover {
  cursor: zoom-in;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 10px;
  margin: -10px;
  height: 100%;
}

div.pins {
}

img.pins {
  width: 236px;
  border-radius: 8px;
}

img.pins:hover {
}

div.pins-image {
  position: relative;
}

div.pins-hover:hover div.dim-gradient {
  background-color: rgba(0, 0, 0, 0.15);
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  bottom: 3px;
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  margin: 0 auto;
  width: 236px;
  border-radius: 0 0 8px 8px;
}

div.dim-gradient:hover {
  margin-top: 10px;
}

a.pin-url, div.pin-save-modal {
  display: none;
}

div.pins-hover:hover a.pin-url {
  cursor: pointer;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 7px;
  color: #efefef;
  size: 11px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

div.pins-hover:hover div.pin-save-modal {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 4px;
  padding: 9px 12px;
  background-color: #bd081c;
  color: #efefef;
  font-size: 14px;
}

i.fa-thumb-tack {
  margin-top: 0.5px;
  padding-right: 6px;
}

div.pin-save {
  font-size: 14px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

div.pins-hover:hover div.pin-save-modal:hover {
  background-color: #b7071b;
}

div.pin-info {
  margin-top: 6px;
  padding: 0 8px;
}

div.pin-title {
  font-weight: bold;
  color: #444;
  font-size: 14.5px;
  letter-spacing: -0.15px;
  line-height: 16px;
  word-spacing: 0;
}

div.pin-title, div.pin-desc {
  margin-bottom: 6px;
  width: 145px;
}

div.pin-desc {
  -webkit-font-smoothing: antialiased;
  color: #333;
}

div.pin-link-to-board {
  display: flex;
  width: 220px;
  height: 28px;
  margin-top: 6px;
  padding: 5px 8px;
  border-radius: 0 0 6px 6px;
  font-size: 11px;
  letter-spacing: -0.05px;
  line-height: 12px;
  word-spacing: 0;
  color: #555;
}

div.pin-link-to-board:hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  opacity: 1.0;
  cursor: pointer;
}

img.pin-creator-pic {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-top: 2.5px;
}

div.pin-creator-info {
  margin-top: 1px;
}

span.pin-creator {
  margin-bottom: 2px;
  font-weight: bold;
  display: block;
}

span.pin-board {
  display: block;
}


div.pin-unshow {
  position: absolute;
  // margin-top: -30px;
  padding-top: 30px;
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-size: 100% 100%;
  z-index: 10;
}

div.pin-unshow:hover {
  cursor: zoom-out;
}

div.pin-show-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.pin-show-options {
  // margin: 30px auto 0;
  width: 564px;
  height: 40px;
  padding: 8px 32px;
  border-radius: 8px 8px 0 0;
  background-color: white;
  z-index: 1000;
}

div.pin-show-options:hover {
  cursor: auto;
}

div.pin-show {
  // margin: 0 auto;
  width: 564px;
  padding: 0 32px;
  background-color: white;
  border-radius: 0 0 8px 8px;
  z-index: 1000;
}

div.pin-show:hover {
  cursor: auto;
}

img.pin-show-image {
  width: 564px;
  height: 100%;
  z-index: 1000;
}
