html {
  background-color: #efefef;
  height: 100vw;
  width: 100vw;
}

h3 {
  color: #555;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -1.2px;
}

.login-form-container {
  display: block;
  margin-top: 100px;
  background-color: white;
  min-height: 400px;
  width: 404px;
  padding: 20px 10px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.45);
}

.login-form {
  justify-content: center;
  text-align: center;
  display: inline-block;
  width: 268px;
  height: 127px;
  -webkit-font-smoothing: antialiased;
}

.login-input {
  margin-top: 7px;
  border-radius: 3px;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  padding: 10px;
  background-color: #f0f0f0;
  box-shadow: none;
  width: 100%;
}

.login-input:focus {
  outline: none;
}

.submit-button {
  border: 0px;
  height: 36px;
  border-radius: 4px;
  padding: 0 18px;
  font-size: 15px;
  font-weight: bold;
  width: 232px;
  height: 36px;
  vertical-align: middle;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
  background-color: #bd081c;
}

.small-border {
  width: 110px;
  border-bottom: #dedede 1px solid;
  margin: 10px auto;
}

.session-option {
  font-size: 12px;
}

span.session-option-message {
  margin-right: 4px;
}

a.session-link {
  color: #717171;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 6px 3px 6px;
}

a.session-link:hover {
  color: #8a8a8a;
}
