div.profile-show-container {
  background-color: white;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

div.profile-options {
  margin: 6px auto 0;
  height: 42px;
  width: 75%;
  max-width: 860px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

div.profile-settings {
  height: 48px;
  width: 48px;
  margin-left: -10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

div.profile-settings:hover {
  background-color: rgba(0,0,0,0.06);
}

i.fa-cog {
  color: #b5b5b5;
  font-size: 30px;
}

div.profile-follow-button {
  background-color: #bd081c;
  padding: 10px 14px;
  border-radius: 4px;
  letter-spacing: -.2px;
  line-height: 20px;
  margin-right: 16px;
  margin-top: 2px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

div.profile-follow-button:hover {
  background-color: #ad081b;
}

div.profile-unfollow-button {
  background-color: #efefef;
  padding: 10px 14px;
  border-radius: 4px;
  letter-spacing: -.2px;
  line-height: 20px;
  margin-right: 16px;
  margin-top: 2px;
  font-size: 16px;
  color: #555555;
  cursor: pointer;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

div.profile-unfollow-button:hover {
  background-color: #e2e2e2;
}

h1.profile-show-username {
  padding-top: 10px;
  color: #555;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -1.25px;
  line-height: 42px;
  word-spacing: -2.25px;
  width: 75%;
  max-width: 860px;
  margin: 0 auto;
}

div.profile-info {
  display: flex;
  justify-content: space-between;
  width: 75%;
  max-width: 860px;
  margin: 18px auto 0;
  color: #555;
  padding-bottom: 12px;
}

div.profile-description {
  max-width: 85%;
  min-width: 200px;
  margin-top: 8px;
  font-size: 14px;
  letter-spacing: -.15px;
  line-height: 16px;
  word-spacing: 0;
}

div.profile-info-right {
  display: flex;
}

div.profile-follow {
  width: 64px;
  padding: 0 8px;
  letter-spacing: -.15px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
}

span.profile-follow-num {
  color: #555;
}

span.profile-follow {
  color: #b5b5b5;
}

div.profile-pic {
  padding: 0 16px;
  margin-left: 20px;
}

img.profile-pic {
  width: 168px;
  height: 168px;
  cursor: auto;
  border-radius: 50%;
}

div.profile-links {
  margin: 0 auto 40px;
  width: 75%;
  max-width: 860px;
}

a.profile-links {
  padding: 12px 16px;
  color: #b5b5b5;
  letter-spacing: -.2px;
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
  margin-right: 12px;
}

a.profile-links-active {
  padding: 12px 16px;
  color: #555;
  letter-spacing: -.2px;
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
  background-color: #efefef;
  border-radius: 100px;
  margin-right: 12px;
}

div.user-edit-profile-container {
  -webkit-font-smoothing: antialiased;
}

div.user-edit-header {
  padding: 4px 0 6px;
  display: flex;
}

div.user-edit-header {
  color: #555;
  font-size: 21px;
  letter-spacing: -.3px;
  line-height: 23px;
  word-spacing: -1.3px;
  font-weight: 700;
}

div.user-edit-exit {
  cursor: pointer;
  position: absolute;
  right: 16px;
}

.user-edit-label {
  word-spacing: 0;
  letter-spacing: -.15px;
  line-height: 16px;
  font-size: 14px;
  color: #555;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 6px;
}

div.user-edit-picture {
  margin-left: 2px;
  display: flex;
  margin-bottom: 12px;
}

img.user-edit-picture {
  width: 75px;
  height: 75px;
}

div.user-edit-picture-right {
  margin-left: 48px;
}

// input.user-choose-picture {
//   letter-spacing: -.5px;
//   line-height: 18px;
//   font-size: 16px;
//   color: #555;
//   font-weight: 700;
//   cursor: pointer;
//   background: #efefef;
//   padding: 10px 14px;
//   border-radius: 4px;
// }
//
// input.user-choose-picture:hover {
//   background: #e2e2e2;
// }

img.user-image-prev {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

div.user-edit-description {
  margin-left: 2px;
  display: inline-block;
  width: 100%;
}

textarea.user-edit-description {
  margin-top: 4px;
  background: #efefef;
  border: 1px solid #efefef;
  color: #555;
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  letter-spacing: -.15px;
  line-height: 16px;
  word-spacing: 0;
  font-weight: 700;
  width: 80%;
  min-height: 45px;
}

textarea.user-edit-description:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #b5b5b5;
  outline: 0;
  background-color: #ffffff;
  color: #555;
}

div.user-buttons-row {
  margin: 18px 0 6px;
}

div.user-buttons {
  text-align: right;
}

button.user {
  letter-spacing: -.5px;
  line-height: 18px;
  font-size: 16px;
  color: #555;
  font-weight: 700;
  cursor: pointer;
  background: #efefef;
  padding: 10px 14px;
  border-radius: 4px;
}

button.user:hover {
  background: #e2e2e2;
}

input.user-edit-save {
  margin-left: 16px;
  letter-spacing: -.5px;
  line-height: 18px;
  font-size: 16px;
  color: #fff;
  background-color: #bd081c;
  font-weight: 700;
  padding: 10px 14px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

input.user-edit-save:hover {
  background-color: #ad081b;
}
